<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW-99Eod2G22CHi74bSsuLxhOGeWauhjo</string>
	<key>GCM_SENDER_ID</key>
	<string>219502821913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Brandon.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-8caaf</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-8caaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219502821913:ios:ef3351737e2a886f35a088</string>
</dict>
</plist>